body{
    margin: 0;
    background-color: #b0fffd;
    text-align: center;

    /* Safe area for iPhone X family */
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
    padding-bottom: constant(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-top);
}

button{
    padding: 1rem;
    margin: 0.5rem
}

#log{
    margin-top: 1rem;
    overflow-wrap: break-word;
}

#log .error{
    color: red;
}

.pad-bottom{
    padding-bottom: 1rem;
}
